<h1 class = article_title><%= @article.title %></h1>
<br>
<p class = article_post><%= simple_format(@article.content) %></p>

<% @article.tags.each do|tag| %>
<p><%= tag.team_name %></p>
<% end %>

<p><%= button_to "delete", article_path(@article), method: :delete %></p>